:root {
  box-sizing: border-box;
}

*, 
*::before,
*::after {
  box-sizing: inherit;
}

html, 
body {
  height: 100%;
}

body {
  /* display: flex; */
  align-items: start;
  justify-content: center;
  padding: 30px;
  margin: 0;
  font-size: 24px;
  font-family: sans-serif;
}
