.wrapper {
  max-width: 350px;
}

.card {
  width: 100px;
  border-radius: 10px;
  background-color: #454545;
  padding: 15px;
  display: block;
  text-align: center;
  font-size: 70px;
  line-height: 1;
  color: white;
}

.card-blue {
  background-color: dodgerblue;
}

.card-orange {
  background-color: coral;
}

.card-yellow {
  background-color: gold;
}

.card-green {
  background-color: limegreen;
}